body,html{
     height:100%;
     margin: 0;
     font-size: 16px;
     font-family: "lato" ,sans-serif ;
     font-weight: 400;
     line-height: 1.8em;
     color: #666 ;
} 
.pimg1{
    background: url('img/img1.jpg') no-repeat center center/cover;
    min-height: 100%;
        
}
.pimg2{
    background: url('img/img2.jpg') no-repeat center center/cover;
    min-height: 400px;     
}
.pimg3{
    background: url('img/img3.jpg') no-repeat center center/cover;
    min-height: 400px;    
}
.pimg1 , .pimg2,.pimg3{
    opacity: 0.8;
    position: relative;
    background-attachment:fixed;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
   background: #F4f4f4;
   color: #666;
}
.section-dark{
    background: #282e34;
    color: #ddd ;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
    letter-spacing: 8px;    
}
.ptext .border{
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.ptext .border.trans{
    background-color: transparent;
}
